<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Property</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="edit-property-container">
        <h2>Edit Property</h2>
    <form id="form-edit-property" th:action="@{/properties/edit/{id}(id=${property.id})}" th:object="${property}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Title*</label>
                <input type="text" id="title" th:field="*{title}" required>
                <div class="error-message" >Title is required</div>
            </div>
            <div class="form-group">
                <label for="location">Location*</label>
                <input type="text" id="location" th:field="*{location}" required>
                <div class="error-message" >Location is required</div>
            </div>
            <div class="form-group">
                <label for="type">Type*</label>
                <input type="text" id="type" th:field="*{type}" required>
                <div class="error-message" >Type is required</div>
            </div>
            <div class="form-group">
                <label for="price">Price*</label>
                <input type="number" id="price" min="1" th:field="*{price}" required>
                <div class="error-message" >Price is required and should not be less than 1</div>
            </div>
            <div class="form-group">
                <label for="description">Description*</label>
                <textarea id="description" th:field="*{description}" required></textarea>
                <div class="error-message" >Description is required</div>
            </div>
            <div class="form-group">
                <label for="imageUrl">Image URL*</label>
                <input type="text" id="imageUrl" th:field="*{imageUrl}" required>
                <div class="error-message" >Image URL is required</div>
            </div>
            <div class="form-group">
                <label for="supportingDocsFile">Attach Supporting Document(s)*</label>
                <input type="file" id="supportingDocsFile" name="supportingDocsFile" multiple required>
                <div class="error-message" >Supporting Document(s) is required</div>
            </div>
            <button type="submit" class="update-btn" onclick="return confirm('Are you sure you want to update this property?');">Update</button>
        </form>
    </div>

    
  <script th:src="@{/js/index.js}"></script>
</body>
</html>
